__pycache__
kernels
build
build_release_cpu
build_release
build_profile
perf_fwd.data
build_profile_cpu
build_profile_vulkan
build
build_debug
build_profile_cpu_seq
*.o
*.a
?
*.dat
models/*.json
staged/*.json
*.log
*.bin
cmake_test_discovery*
perf*.data
build_profile_vulkan_stats
cmake_test_discovery*